<h3>Activity</h3>

<div *ngIf="showLoaded" class="overlay"></div>
<div *ngIf="showLoaded" id="loaderModernize"></div>

<!--<ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>-->

<!--Button clear filters-->
<div style="margin-bottom:10px;float:left;">
    <button type="button" class="btn btn-labeled btn-info " (click)="clearFilters()">
        <span class="btn-label"><i class="glyphicon glyphicon-repeat"></i></span> Clear filter
    </button>
</div>

<!--Year filter-->
<div class="dropdown" style="float:left;margin-top:7px; margin-left:7px">Year&nbsp;</div>
<div class="dropdown" style="float:left;">
    <select class="mySelect form-control input-sm " [(ngModel)]="selectedAwp" (ngModelChange)="loadLookupList()">
        <option *ngFor="let awp of awpList" [ngValue]="awp"> {{awp.text}} </option>
    </select>
</div>

<table class="table table-striped table-bordered table-hover table-condensed floating-header" sortable-table (sorted)="onSorted($event)" >
    <thead>
        <tr class="bg-warning">
            <th sortable-column="activityId">
                Id
            </th>
            <th  sortable-column="activityCode">
                Code
             
            </th>
            <th >
                Name
               
            </th>
            <th >
                Strategy
               
            </th>
            <th >
                Unit
               
            </th>
            <th >
                DP
               
            </th>
            <th>
                Section
              
            </th>
            <th>
                Activity Leader
              
            </th>
            <th>
                Budget
               
            </th>
            <th>
                Status
                
            </th>
        </tr>
    </thead>

    <tbody class="avoid-sort">
        <tr class="trFilter">
            <td style="min-width:40px">
                <input type="text" [(ngModel)]="filter.activityIdName" placeholder="Activity Id..." class="form-control input-sm" />
            </td>
            <td>
                <input type="text" [(ngModel)]="filter.activityCode" placeholder="Activity code..." class="form-control input-sm" />
            </td>
            <td>
                <input type="text" [(ngModel)]="filter.activityName" placeholder="Activity name..." class="form-control input-sm" />
            </td>
            <td>
                <select class="form-control input-sm" [(ngModel)]="filter.strategyId" required>
                    <option *ngFor="let item of strategyList" [ngValue]="item.value">{{item.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control input-sm" [(ngModel)]="filter.unitId" required>
                    <option *ngFor="let item of unitList" [ngValue]="item.value">{{item.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control input-sm" [(ngModel)]="filter.dpId" required>
                    <option *ngFor="let item of dpList" [ngValue]="item.value">{{item.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control input-sm" [(ngModel)]="filter.sectionId">
                    <option *ngFor="let item of sectionList" [ngValue]="item.value">{{item.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control input-sm" [(ngModel)]="filter.activityLeaderId">
                    <option *ngFor="let item of leaderList" [ngValue]="item.value">{{item.text}}</option>
                </select>
            </td>
            <td></td>
            <td >
                <select class="form-control input-sm" [(ngModel)]="filter.statusId">
                    <option *ngFor="let item of statusList" [ngValue]="item.value">{{item.text}}</option>
                </select>
            </td>
        </tr>
    </tbody>

    <tbody>

        <tr *ngFor="let activity of activityList | activityFilter : filter"  style="cursor:pointer" [routerLink]="['/activityDetail', activity.activityId]">
            <td style="min-width:80px">
                {{activity.activityId}}
            </td>
            <td>
                {{activity.activityCode}}
            </td>
            <td>

                {{activity.activityName}}
            </td>
            <td>
                {{activity.strategyCode}}
            </td>
            <td>
                {{activity.unitCode}}
            </td>
            <td>
                {{activity.dpCode}}
            </td>
            <td>
                {{activity.sectionCode}}
            </td>
            <td>
                {{activity.activityLeader}}
            </td>
            <td>
                {{activity.amount}}
            </td>
            <td>
                <img [attr.src]="activity.statusIcon" />
                {{activity.statusName}}
            </td>

        </tr>

    </tbody>
</table>

