<!--example of redirection to Old MIS page-->
<!--<iframe style="position: absolute; z-index:99; height: 83%; width: 99%; border:none;margin:0px" [src]='sanitizer.bypassSecurityTrustResourceUrl(mis4HostUrl)'></iframe>-->

<h3>Procurement</h3>

<div *ngIf="showLoaded" class="overlay"></div>
<div *ngIf="showLoaded" id="loaderModernize"></div>
<p *ngIf="!procurementList"><em>Loading...</em></p>

<!--Button clear filters-->
<div style="margin-bottom:10px;float:left;">
    <button type="button" class="btn btn-labeled btn-info btn-sm " (click)="clearFilters()">
        <span class="btn-label"><i class="fas fa-sync-alt"></i></span> Clear filter
    </button>

    <button type="button" class="btn btn-labeled btn-info btn-sm" (click)="exportToCsv()">
        <span class="btn-label"><i class="fas fa-file-excel"></i> Export to Excel</span>
        <ngb-progressbar type="warning" [value]="progress" [hidden]="progress<1" height=".2rem" [striped]="true"></ngb-progressbar>
    </button>
</div>

<!--Year filter-->
<div class="dropdown" style="float:left;margin-top:7px; margin-left:7px">Year&nbsp;</div>
<div class="dropdown" style="float:left;">
    <select class="mySelect form-control form-control-sm " [(ngModel)]="selectedAwp" (ngModelChange)="loadLookupList()">
        <option *ngFor="let awp of awpList" [ngValue]="awp"> {{awp.text}} </option>
    </select>
</div>

<!--Unit filter-->
<div class="dropdown" style="float:left;margin-top:7px; margin-left:7px">Unit&nbsp;</div>
<div class="dropdown" style="float:left;">
    <select class="form-control form-control-sm" [(ngModel)]="selectedUnit" (change)="unitChanged()" required>
        <option *ngFor="let item of unitList" [ngValue]="item" >{{item.text}}</option>
    </select>
</div>

<!--DP filter-->
<div class="dropdown" style="float:left;margin-top:7px; margin-left:7px">DP&nbsp;</div>
<div class="dropdown" style="float:left;">
    <select class="form-control form-control-sm" [(ngModel)]="filter.dpId" required>
        <option *ngFor="let item of dpList" [ngValue]="item.value">{{item.text}}</option>
    </select>
</div>

<!--Section filter-->
<div class="dropdown" style="float:left;margin-top:7px; margin-left:7px">Section&nbsp;</div>
<div class="dropdown" style="float:left;">
    <select class="form-control form-control-sm" [(ngModel)]="filter.sectionId" required>
        <option *ngFor="let item of sectionList" [ngValue]="item.value">{{item.text}}</option>
    </select>
</div>


<table class="table table-striped table-bordered table-hover table-condensed table-sm">
    <thead id="tableHeader">
        <tr>
            <th>
            </th>
            <th>
                Id
            </th>
            <th>
                BL
            </th>
            <th>
                Activity code
            </th>
            <th>
                Procurement name
            </th>
            <th>
                Project Manager
            </th>
            <th>
                Authorising Officer
            </th>
            <th>
                Proc. Officer
            </th>
            <th>
                Value of contract
            </th>
            <th>
                Type of Procurement
            </th>
            <th>
                Type of Contract
            </th>
            <th>
                Next deadline
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>

    <tbody class="avoid-sort">
        <tr class="trFilter">
            <td></td>
            <td>
                <input type="text" [(ngModel)]="filter.expenseIdName" placeholder="Expense Id..." class="form-control form-control-sm" />
            </td>
            <td>
                <!-- <select class="form-control form-control-sm" [(ngModel)]="filter.budgetLineId" required>
                    <option *ngFor="let item of budgetLineList" [ngValue]="item.value">{{item.text}}</option>
                </select> -->
            </td>
            <td></td>
            <td></td>
            <td>
                <!-- <select class="form-control form-control-sm" [(ngModel)]="filter.projectManagerId" required>
                    <option *ngFor="let item of userList" [ngValue]="item.value">{{item.text}}</option>
                </select> -->
            </td>
            <td>
                <!-- <select class="mySelect form-control input-sm " ng-model="selectedAuthOfficer" ng-options="p.Text for p in authOfficerList" ng-change="filterTable()"></select> -->
            </td>
            <td>
                <!-- <select class="mySelect form-control input-sm " ng-model="selectedProcOfficer" ng-options="p.Text for p in procOfficerList" ng-change="filterTable()"></select> -->
            </td>
            <td></td>
            <td>
                <!-- <select class="form-control form-control-sm" [(ngModel)]="filter.procTypeId" required>
                    <option *ngFor="let item of procTypeList" [ngValue]="item.value">{{item.text}}</option>
                </select> -->
            </td>
            <td></td>
            <td></td>
            <td>
                <!-- <select class="form-control form-control-sm" [(ngModel)]="filter.procStatusId" required>
                    <option *ngFor="let item of procStatusList" [ngValue]="item.value">{{item.text}}</option>
                </select> -->
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr *ngFor="let procurement of procurementList| expenseFilter : filter" style="cursor:pointer">
            <td style="min-width:55px">
                <!--<a tabindex="0" value="" uib-tooltip="Status chart" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-placement="right" popover-trigger="'outsideClick'" style="cursor:pointer" ng-click="openPopover(procurement);">
                    <span class="btn-label" style="color:dodgerblue;"><i class="far fa-chart-bar" aria-hidden="true"></i></span>
                </a>-->
            </td>
            <td>
                {{procurement.expenseId}}
            </td>
            <td>
                {{procurement.budgetLineCode}}
            </td>
            <td>
                {{procurement.activityCode}}
            </td>
            <td>
                {{procurement.procurementName}}
            </td>
            <td>
                {{procurement.projectManager}}
            </td>
            <td>
                {{procurement.authOfficer}}
            </td>
            <td>
                {{procurement.procOfficer}}
            </td>
            <td>
                {{procurement.procContractedAmount}}
            </td>
            <td>
                {{procurement.procurementType}}
            </td>
            <td>
                {{procurement.contractType}}
            </td>
            <td>
                {{(procurement.plannedExpectedContractSignature ? procurement.plannedExpectedContractSignature : (procurement.plannedExpectedLaunch ? procurement.plannedExpectedLaunch : procurement.plannedKickoffDate))| date :'dd/MM/yyyy'}}
            </td>
            <td>
                {{procurement.status}}
            </td>
        
        </tr>


    </tbody>
</table>